/* DONE  - No URL */

@media handheld, only screen and (min-width: 768px) and (max-width: 979px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1232px;
    min-width: 250px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .container-nopad {
    padding-left: 0;
    padding-right: 0;
  }
  [class*="col-"] {
    width: 100%;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    position: relative;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  [class*="tablet-col-"] {
    margin-right: -0.3em;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .tablet-col-1-1 {
    width: 100%;
  }
  .tablet-col-2-3,
  .tablet-col-8-12 {
    width: 66.66%;
  }
  .tablet-col-1-2,
  .tablet-col-6-12 {
    width: 50%;
  }
  .tablet-col-1-3,
  .tablet-col-4-12 {
    width: 33.33%;
  }
  .tablet-col-1-4,
  .tablet-col-3-12 {
    width: 25%;
  }
  .tablet-col-1-5 {
    width: 20%;
  }
  .tablet-col-1-6,
  .tablet-col-2-12 {
    width: 16.667%;
  }
  .tablet-col-1-7 {
    width: 14.28%;
  }
  .tablet-col-1-8 {
    width: 12.5%;
  }
  .tablet-col-1-9 {
    width: 11.1%;
  }
  .tablet-col-1-10 {
    width: 10%;
  }
  .tablet-col-1-11 {
    width: 9.09%;
  }
  .tablet-col-1-12 {
    width: 8.33%;
  }
  .tablet-col-11-12 {
    width: 91.66%;
  }
  .tablet-col-10-12 {
    width: 83.333%;
  }
  .tablet-col-9-12 {
    width: 75%;
  }
  .tablet-col-5-12 {
    width: 41.66%;
  }
  .tablet-col-7-12 {
    width: 58.33%;
  }
  .hide-on-tablet {
    display: none !important;
    width: 0;
    height: 0;
  }
  .show-on-tablet {
    display: inline-block !important;
  }
  [class*="push-"] {
    margin-left: 0;
  }
}
