@media handheld, only screen and (min-width: 768px) and (max-width: 979px) {
  h2,
  h2 a:link,
  h2 a:active,
  h2 a:visited,
  h2 a:hover,
  a:link h2,
  a:active h2,
  a:visited h2,
  a:hover h2 {
    font-size: 22px;
  }
  .owl-buttons {
    display: none;
  }
  .l-grid .grid__item1 {
    left: 50px;
    right: 50px;
  }
  .l-grid .grid__item5 {
    left: 50px;
  }
  .b-cabinet .cabinet__cam img {
    width: 50px;
  }
  .b-cabinet .cabinet__cam_1 {
    margin-top: -50px;
  }
  .b-picture2 {
    height: 102px;
  }
  .b-logo {
    top: 29px;
    left: 50%;
    margin-left: -100px;
    text-align: center;
  }
  .b-pilot .pilot__6 {
    right: 0;
    top: 43px;
  }
  .b-title {
    margin-top: 0;
  }
  .b-bannercenter {
    margin-top: 0;
  }
  .b-tabs .tabs__nav a:link,
  .b-tabs .tabs__nav a:visited {
    min-width: 0;
  }
  .b-steps {
    height: auto;
    padding-top: 38px;
    background-image: url(/files/1/steps-bg-tablet.jpg);
    background-color: #d57f2a;
  }
  .b-steps h1 {
    margin-bottom: 17px;
    font-size: 50px;
  }
  .b-steps .steps__item {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .b-steps .steps__item-inner {
    max-width: none;
    min-height: 260px;
    padding: 34px 40px 20px 40px;
  }
  .b-steps .steps__item-2 .steps__item-inner {
    max-width: none;
  }
  .b-steps .steps__item-2 {
    min-height: 215px;
  }
  .b-steps .steps__content {
    float: left;
    width: 410px;
    margin-right: 30px;
    text-align: left;
  }
  .b-steps .steps__bottom {
    overflow: hidden;
  }
  .b-steps .steps__info {
    min-height: 0;
  }
  .b-steps .steps__btn {
    position: static;
  }
  .b-steps .steps__title {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .b-steps .steps__subtitle {
    margin-bottom: 10px;
  }
  .b-steps .steps__price {
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 17px;
    white-space: normal;
  }
  .b-steps .steps__benefits {
    margin: 0;
  }
  .b-steps .steps__benefits-item {
    margin-left: 10px;
    margin-right: 10px;
  }
  .b-people .people__head h2 {
    font-size: 30px;
  }
  .b-people .people__item {
    width: 33.333%;
    padding-left: 18px;
    padding-right: 18px;
  }
  .b-form_mainpage {
    margin-left: -20px;
    margin-right: -20px;
    padding: 52px 30px 30px;
  }
  .b-form_mainpage h2 {
    font-size: 30px;
  }
  .b-form_mainpage .form__colleft {
    margin-right: 0;
  }
  .b-form_auth {
    padding: 20px;
  }
  .b-solution .solution__item {
    border: solid #d2d2d2;
    border-width: 1px;
    width: 50%;
  }
  .b-solution .solution__item:nth-child(1),
  .b-solution .solution__item:nth-child(2),
  .b-solution .solution__item:nth-child(n + 2) {
    border-top-width: 0;
  }
  .b-solution .solution__item:nth-child(2n + 1) {
    border-left-width: 0;
  }
  .b-solution .solution__item:nth-last-child(-n + 2) {
    border-bottom-width: 0;
  }
  .b-solution .solution__item:nth-child(2n) {
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 1px;
  }
  .b-solution .solution__item:last-child {
    border-bottom-width: 0;
  }
  .b-solution_3el .solution__item {
    border: 0;
  }
  .b-solution_single {
    display: block;
  }
  .b-solution_single .solution__item {
    padding-bottom: 50px;
    width: auto;
    display: block;
  }
  .b-solution_single .solution__item:nth-last-child(1) {
    border: 0;
  }
  .b-solution_single .solution__arr {
    font-size: 0;
    width: 0;
  }
  .b-solution_list .solution__item {
    width: 100%;
    border-width: 1px 0 0 0;
  }
  .b-solution_list .solution__item:nth-child(1),
  .b-solution_list .solution__item:nth-child(2),
  .b-solution_list .solution__item:nth-child(3) {
    border-top: 1px solid #d2d2d2;
  }
  .b-solution_list .solution__icon {
    width: auto;
  }
  .b-solution_list .solution__shcar,
  .b-solution_list .solution__description {
    width: 100%;
  }
  .b-solution_list .solution__description {
    padding-right: 0;
  }
  .b-solution-table {
    overflow-x: auto;
  }
  .b-solution-table--tech .solution-table__head td {
    padding-bottom: 20px;
  }
  .b-solution-table--tech .solution-table__title {
    font-size: 18px;
  }
  .b-solution-table--tech .solution-table__price {
    font-size: 16px;
  }
  .b-yandex-expert .yandex-expert__inner {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .b-yandex-expert .yandex-expert__left {
    width: 100%;
  }
  .b-yandex-expert .yandex-expert__right {
    width: 100%;
    height: 400px;
    background: url(/files/110/expert.jpg) no-repeat left top;
    background-size: cover;
  }
  .b-yandex-expert .yandex-expert__video {
    width: 40%;
  }
  .container--large {
    padding: 0;
  }
  .b-ourteam .ourteam__main {
    max-width: 730px;
    padding: 35px 0 30px;
  }
  .b-ourteam .ourteam__title h2 {
    font-size: 30px;
  }
  .b-ourteam .ourteam__pic {
    height: 330px;
  }
  .b-contactsgrid .contactsgrid__item {
    width: 50%;
  }
  .b-contactsgrid .contactsgrid__item:nth-child(n) {
    border-width: 0 1px 1px 0;
  }
  .b-contactsgrid .contactsgrid__item:nth-child(2n) {
    border-width: 0 0 1px 0;
  }
  .b-solution-fancy {
    padding: 50px 20px 20px;
  }
  .b-benefitsblock {
    margin-bottom: 40px;
  }
  .b-benefitsblock [class*="push-"] {
    margin-left: 0;
  }
  .b-benefitsblock .benefitsblock__pic,
  .b-benefitsblock .benefitsblock__inner:before {
    display: none;
  }
  .b-benefitsblock .benefitsblock__inner {
    padding: 65px 55px 30px;
  }
  .b-benefitsblock_individ .b-solution_single {
    padding-top: 50px;
  }
  .b-benefitsblock_individ .benefitsblock__inner {
    padding-top: 0;
  }
  .b-benefitsblock_host .benefitsblock__listtitle {
    padding-left: 0;
  }
  .b-benefits-smm .benefits-smm__left,
  .b-benefits-smm .benefits-smm__right {
    width: 40%;
  }
  .b-benefits-smm .benefits-smm__pic {
    width: 20%;
  }
  .b-benefits-source {
    background-position: 31% 50%;
  }
  .b-benefits-source .benefits-source__left {
    padding: 30px;
    padding-right: 80px;
    font-size: 22px;
    width: 35%;
  }
  .b-benefits-source .benefits-source__left br {
    display: none;
  }
  .b-benefits-source .benefits-source__right {
    padding: 20px;
    width: 65%;
  }
  .b-benefits-source .benefits-source__right ul li {
    padding-top: 0;
    padding-bottom: 0;
  }
  .b-stagesblock .stagesblock__menu {
    display: none;
  }
  .b-stagesblock .stageblock__right {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0;
  }
  .b-stagesblock .stageblock__carousel {
    padding-left: 65px;
    padding-right: 65px;
  }
  .b-stagesblock .stageblock__ava {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .b-stagesblock .stageblock__content {
    overflow: visible;
  }
  .b-stagesblock .stageblock__title span {
    display: block;
  }
  .b-stagesblock .bx-wrapper .bx-controls-direction .bx-prev {
    left: -60px;
  }
  .b-stagesblock .bx-wrapper .bx-controls-direction .bx-next {
    right: -60px;
  }
  .b-capab .capab__title {
    padding-bottom: 15px;
    font-size: 25px;
  }
  .b-capab .capab__text {
    padding-bottom: 25px;
  }
  .b-costblock {
    padding-left: 50px;
    padding-right: 50px;
    background: #ededed;
  }
  .b-costblock .costblock__cost {
    padding-bottom: 30px;
  }
  .b-costblock [class*="push-"] {
    margin-left: 0;
  }
  .b-yandexcashbox {
    padding: 60px;
  }
  .b-yandexcashbox .yandexcashbox__logo {
    padding-bottom: 40px;
  }
  .b-yandexcashbox .yandexcashbox__content {
    padding-left: 0;
  }
  .b-yandexcashbox .yandexcashbox__btn {
    padding-top: 20px;
    text-align: center;
  }
  .b-headblock .headblock__btn {
    position: relative;
  }
  .b-headblock .headblock__btn span {
    position: static;
  }
  .b-headblock .headblock__btn span ins {
    width: 100%;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    white-space: normal;
  }
  .b-headblock_create {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .b-headblock_create .headblock__inner {
    padding: 230px 50px 50px 50px;
    background-position: 50% 50px;
    -webkit-background-size: 200px auto;
    background-size: 200px auto;
  }
  .b-headblock_superfast {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .b-headblock_superfast .headblock__inner {
    padding: 230px 50px 50px 50px;
    background-position: 50% 50px;
    -webkit-background-size: 200px auto;
    background-size: 200px auto;
  }
  .b-headblock_big {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .b-headblock_big .headblock__inner {
    padding: 230px 50px 50px 50px;
    background-position: 50% 50px;
    -webkit-background-size: 200px auto;
    background-size: 200px auto;
  }
  .b-headblock_crm {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .b-headblock_crm .headblock__inner {
    padding: 230px 50px 50px 50px;
    background-position: 50% 50px;
    -webkit-background-size: 200px auto;
    background-size: 200px auto;
  }
  .b-headblock_produce {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .b-headblock_produce .headblock__inner {
    padding: 230px 50px 50px 50px;
    background-position: 50% 50px;
    -webkit-background-size: 200px auto;
    background-size: 200px auto;
  }
  .b-headblock_smm {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .b-headblock_smm .headblock__inner {
    padding: 230px 50px 50px 50px;
    background-position: 50% 50px;
    -webkit-background-size: 200px auto;
    background-size: 200px auto;
  }
  .b-headblock_tariff1 {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .b-headblock_tariff1 .headblock__inner {
    padding: 230px 50px 50px 50px;
    background-position: 50% 50px;
    -webkit-background-size: 200px auto;
    background-size: 200px auto;
  }
  .b-headblock_wa {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .b-headblock_wa .headblock__inner {
    padding: 230px 50px 50px 50px;
    background-position: 50% 50px;
    -webkit-background-size: 200px auto;
    background-size: 200px auto;
  }
  .b-headblock_kassa {
    margin: 0 -20px 80px;
    padding: 0 20px;
    background-color: #fff;
    background-position: 20% 100%;
    -webkit-background-size: auto 300px;
    background-size: auto 300px;
  }
  .b-headblock_kassa .headblock__inner {
    padding: 50px;
  }
  .b-headblock_tech {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .b-headblock_tech .headblock__inner {
    padding: 230px 50px 50px 50px;
    background-position: 50% 50px;
    -webkit-background-size: 200px auto;
    background-size: 200px auto;
  }
  .b-headblock_ssl {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .b-headblock_ssl .headblock__inner {
    padding: 230px 50px 50px 50px;
    background-position: 50% 50px;
    -webkit-background-size: 200px auto;
    background-size: 200px auto;
  }
  .b-headblock_host {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .b-headblock_host .headblock__inner {
    padding: 230px 50px 50px 50px;
    background-position: 50% 50px;
    -webkit-background-size: 200px auto;
    background-size: 200px auto;
  }
  .b-benefitsslider .benefitsslider__text {
    padding-left: 50px;
    padding-right: 50px;
  }
  .b-benefitsslider .benefitsslider__text h2 {
    padding-left: 0;
    padding-right: 0;
  }
  .b-benefitsslider .benefitsslider__item {
    padding-left: 100px;
    padding-right: 100px;
  }
  .b-slider .bx-wrapper .bx-controls-direction .bx-prev {
    margin-left: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .b-slider .bx-wrapper .bx-controls-direction .bx-next {
    margin-right: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .b-graph {
    padding-bottom: 40px;
  }
  .b-graph h2 {
    max-width: none;
  }
  .b-graph .graph__content {
    padding: 30px 0 150px;
    background: url(/files/110/graph-bg-2.jpg) 50% 100% no-repeat #303030;
  }
  .b-graph .graph__inner {
    min-height: 0;
    padding: 0 45px;
    order: 1;
  }
  .b-graph .graph__content .col-4-12 {
    display: flex;
    flex-direction: column;
  }
  .b-graph .graph__subtitle {
    padding: 0 45px;
    position: absolute;
    top: 25px;
    left: 10px;
    color: #d1d2d1;
    font-size: 12px;
    opacity: 0.8;
  }
  .b-blog-header {
    margin-top: 0;
  }
  .b-blog-header .blog-header__inner {
    padding: 70px 20px 30px;
  }
  .b-blog-header .blog-header__icon {
    display: none;
  }
  .b-blog-detpage blockquote {
    margin-left: 60px;
  }
  .b-blog-detpage .blog-detpage__inner {
    padding: 30px 0;
  }
  .b-vacancy-candidat {
    background-image: none;
  }
  .b-vacancy-candidat .vacancy-candidat__btn {
    text-align: center;
  }
  .b-vacancy-head {
    margin-top: 0;
  }
  .b-vacancy-head .vacancy-head__inner {
    padding: 40px 20px 40px 210px;
  }
  .b-kimono .kimono__item {
    width: 33.33%;
    margin-top: -1px;
  }
  .b-kimono .kimono__items .kimono__item:last-child {
    width: 100%;
  }
  .b-kimono .kimono__items .kimono__item:nth-child(3n + 1) {
    border-left-width: 1px;
  }
  .b-candys .candys__item {
    line-height: 1;
    height: auto;
  }
  .b-candys .candys__item > img {
    position: static;
    max-width: 100%;
  }
  .b-candys .candys__content {
    display: none;
  }
  .b-jointeam [class*="push-"] {
    margin-left: 0;
  }
  .b-excursion .excursion__content {
    padding: 30px 20px;
    margin-left: -20px;
  }
  .b-excursion .excursion__faces {
    padding-top: 60px;
    text-align: left;
  }
  .b-excursion .excursion__grid_2 img,
  .b-excursion .excursion__grid_3 img {
    float: left;
  }
  .b-portfolio-head {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
  }
  .b-portfolio-head .portfolio-head__right {
    text-align: left;
  }
  .b-portfolio-filter .portfolio-filter__left,
  .b-portfolio-filter .portfolio-filter__right {
    display: block;
    margin-right: 0;
    width: 100%;
  }
  .b-portfolio-filter .portfolio-filter__type {
    padding-bottom: 10px;
  }
  .b-portfolio-filter .portfolio-filter__select {
    padding-left: 0;
    padding-right: 20px;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -moz-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-basis: 200px;
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
  }
  .b-portfolio-det .portfolio-det__moreleft {
    padding-left: 20px;
    background-image: none;
  }
  .b-portfolio-det .portfolio-det__moreright {
    padding-left: 20px;
  }
  .b-portfolio-det .portfolio-det__pic-wrapper {
    padding-right: 0;
    width: fit-content;
    margin: 0 auto;
  }
  .b-portfolio-det_fancy .portfolio-det__respic,
  .b-portfolio-det_fancy .portfolio-det__link {
    text-align: center;
  }
  .b-portfolio-det2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "right-info" "main-content" "right-interesting";
  }
  .b-portfolio-det2 .portfolio-det2__content {
    float: none;
    width: auto;
    overflow: visible;
    padding-left: 0;
    padding-bottom: 40px;
  }
  .b-portfolio-det2 .portfolio-det2__imgbox {
    padding-right: 0;
  }
  .b-portfolio-det2 .portfolio-det2__right-interesting {
    padding-left: 0;
    margin-top: 30px;
  }
  .b-mybusines .mybusines__left,
  .b-mybusines .mybusines__right {
    width: 100%;
  }
  .b-mybusines .mybusines__griditem.mybusines__griditem_big .mybusines__inner {
    height: 200px;
    line-height: 1;
  }
  .b-mybusines
    .mybusines__griditem.mybusines__griditem_big
    .mybusines__addbtn
    a:link,
  .b-mybusines
    .mybusines__griditem.mybusines__griditem_big
    .mybusines__addbtn
    a:visited,
  .b-mybusines
    .mybusines__griditem.mybusines__griditem_big
    .mybusines__addbtn
    a:active,
  .b-mybusines
    .mybusines__griditem.mybusines__griditem_big
    .mybusines__addbtn
    a:hover {
    line-height: 200px;
  }
  .b-mybusines .mybusunes__logo,
  .b-mybusines .mybusunes__eff,
  .b-mybusines .mybusunes__site {
    padding: 50px 0;
    height: auto;
    margin-right: -0.275em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    width: 33.33%;
    line-height: 1;
  }
  .b-mybusines .mybusines__griditem {
    border-width: 0 2px 2px 0;
  }
  .b-mybusines .mybusines__griditem:nth-child(1),
  .b-mybusines .mybusines__griditem:nth-child(4) {
    border-left-width: 2px;
  }
  .b-mybusines .mybusines__griditem.mybusines__griditem_big {
    border-top-width: 2px;
  }
  .b-mybusines .mybusunes__content {
    top: -5px;
    right: -6px;
    bottom: -5px;
    left: -6px;
  }
  .b-mybusines
    .mybusines__griditem.mybusines__griditem_big
    .mybusunes__content {
    top: -2px;
    left: -2px;
    right: -2px;
  }
  .b-mybusines .mybusines__griditem:nth-child(1) .mybusunes__content,
  .b-mybusines .mybusines__griditem:nth-child(4) .mybusunes__content {
    left: -2px;
  }
  .b-mybusines .mybusines__griditem:nth-child(3) .mybusunes__content,
  .b-mybusines .mybusines__griditem:nth-child(6) .mybusunes__content {
    right: -2px;
  }
  .b-mybusines .mybusines__griditem:nth-child(4) .mybusunes__content,
  .b-mybusines .mybusines__griditem:nth-child(5) .mybusunes__content,
  .b-mybusines .mybusines__griditem:nth-child(6) .mybusunes__content {
    bottom: -2px;
  }
  .b-mybusines
    .mybusines__item_empty
    .mybusines__griditem.mybusines__griditem_big
    .mybusines__inner {
    height: 200px;
  }
  .b-mybusines
    .mybusines__item_empty
    .mybusines__griditem.mybusines__griditem_big
    .mybusines__addbtn
    a:link,
  .b-mybusines
    .mybusines__item_empty
    .mybusines__griditem.mybusines__griditem_big
    .mybusines__addbtn
    a:visited,
  .b-mybusines
    .mybusines__item_empty
    .mybusines__griditem.mybusines__griditem_big
    .mybusines__addbtn
    a:active,
  .b-mybusines
    .mybusines__item_empty
    .mybusines__griditem.mybusines__griditem_big
    .mybusines__addbtn
    a:hover {
    line-height: 200px;
  }
  .b-bus-statusbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .b-bus-statusbar .bus-statusbar__logo,
  .b-bus-statusbar .bus-statusbar__status,
  .b-bus-statusbar .bus-statusbar__params {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
  }
  .b-bus-menu .bus-menu__item a:link,
  .b-bus-menu .bus-menu__item a:visited {
    padding-left: 17px;
    padding-right: 17px;
  }
  .b-bus-menu .bus-menu__inactive .bus-menu__item a:link,
  .b-bus-menu .bus-menu__inactive .bus-menu__item a:visited {
    padding-right: 20px;
    padding-left: 20px;
  }
  .b-guestbox .guestbox__item {
    padding-bottom: 10px;
  }
  .b-p404 .p404__logo {
    position: static;
  }
  .b-goodslist .goodslist__item {
    padding: 10px 0;
  }
  .b-goodslist .goodslist__title,
  .b-goodslist .goodslist__sample,
  .b-goodslist .goodslist__price,
  .b-goodslist .goodslist__btn {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .b-goodslist .goodslist__title {
    width: 100%;
  }
  .b-goodslist .goodslist__sample,
  .b-goodslist .goodslist__price,
  .b-goodslist .goodslist__btn {
    width: 33.33%;
  }
  .b-specban {
    padding-top: 10px;
    padding-bottom: 30px;
    line-height: 1;
  }
  .b-specban .specban__icon,
  .b-specban .specban__content {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .b-specban .specban__icon {
    height: 140px;
    line-height: 140px;
  }
  .b-specban .specban__content {
    padding-left: 20px;
    min-height: 120px;
  }
  .b-specban_host {
    background-image: none;
  }
  .b-tariff .tariff__item {
    width: 100%;
    padding: 30px 0;
  }
  .b-tariff .tariff__item:nth-child(2n + 2) {
    border-left: 0;
  }
  .b-googscost .googscost__cost,
  .b-googscost .googscost__btn {
    width: 100%;
    text-align: left;
  }
  .b-googscost .googscost__btn {
    padding-top: 30px;
  }
  .b-contactseurope .contactseurope__ava {
    text-align: right;
  }
  .b-contactseurope .contactseurope__contacts {
    padding-left: 0;
    border-left: 0;
    text-align: center;
  }
  .b-browser .browser__item {
    width: 50%;
  }
  .b-notfound .notfound__item {
    width: 33.33%;
  }
  .b-notfound .notfound__item:last-child {
    display: none;
  }
  .b-iconbox {
    display: none;
  }
  .b-scheme-work h2 {
    margin-bottom: 31px;
  }
  .b-scheme-work .scheme-work__tree {
    width: 100%;
  }
  .b-scheme-work .scheme-work__tree-middle {
    background: none;
    min-height: auto;
  }
  .b-scheme-work .scheme-work__tree-bottom {
    display: none;
  }
  .b-scheme-work .scheme-work__table {
    display: block;
  }
  .b-scheme-work .scheme-work__item {
    display: block;
    width: auto;
    padding: 35px;
    border-right: none;
    border-bottom: none;
  }
  .b-scheme-work .scheme-work__item:last-child {
    border-bottom: 1px solid #d2d2d2;
  }
  .b-scheme-work .scheme-work__tree-text {
    padding: 0;
  }
  .b-scheme-order .scheme-order__item {
    display: block;
    width: 100%;
    padding: 35px 20px;
    border-top: 1px solid #d2d2d2;
    border-right: none;
  }
  .b-scheme-order .scheme-order__item:last-of-type {
    display: none;
  }
  .b-mobile-table--tablet {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
  }
  .b-mobile-table--tablet {
    -webkit-overflow-scrolling: touch;
    background: -webkit-radial-gradient(
          left ellipse,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0) 75%
        )
        0 center,
      -webkit-radial-gradient(
          right ellipse,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0) 75%
        ) 100% center;
    background: radial-gradient(
          ellipse at left,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0) 75%
        )
        0 center,
      radial-gradient(
          ellipse at right,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0) 75%
        )
        100% center;
    background-size: 10px 100%, 10px 100%;
    background-attachment: scroll, scroll;
    background-repeat: no-repeat;
  }
  .b-mobile-table--tablet td:first-child,
  .b-mobile-table--tablet th:first-child {
    background-image: -webkit-linear-gradient(
      left,
      white 50%,
      rgba(255, 255, 255, 0) 100%
    );
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, white),
      to(rgba(255, 255, 255, 0))
    );
    background-image: linear-gradient(
      to right,
      white 50%,
      rgba(255, 255, 255, 0) 100%
    );
    background-repeat: no-repeat;
    background-size: 20px 100%;
  }
  .b-mobile-table--tablet td:last-child,
  .b-mobile-table--tablet th:last-child {
    background-image: -webkit-linear-gradient(
      right,
      white 50%,
      rgba(255, 255, 255, 0) 100%
    );
    background-image: -webkit-gradient(
      linear,
      right top,
      left top,
      color-stop(50%, white),
      to(rgba(255, 255, 255, 0))
    );
    background-image: linear-gradient(
      to left,
      white 50%,
      rgba(255, 255, 255, 0) 100%
    );
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 20px 100%;
  }
  .b-ssl-slider .ssl-slider__picbox {
    width: 40%;
  }
  .b-ssl-slider .ssl-slider__textbox {
    width: 60%;
  }
  .b-ssl-slider .ssl-slider__title {
    font-size: 24px;
    padding-bottom: 30px;
  }
  .b-ssl-slider .ssl-slider__textalign {
    padding: 30px 60px 0;
  }
  .b-dopservice .dopservice__two:before {
    content: "";
    display: none;
  }
  .b-trust .trust__item {
    padding-left: 15px;
    padding-right: 15px;
  }
  .b-services {
    padding-bottom: 50px;
    background-image: url(/files/110/services-bg-tablet-2.jpg);
  }
  .b-services .services__inner {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
  }
  .b-services .services__head h2 {
    font-size: 30px;
  }
  .b-services .services__item {
    margin-bottom: 33px;
  }
  .b-services [class*="col-"] {
    padding-bottom: 0;
  }
  .b-services .services__btnbox {
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .b-solution-fancy ul li:before {
    position: relative;
    left: -10px;
  }
  .b-carousel-trust .carousel-trust__head {
    top: -68px;
  }
  .b-carousel-trust .carousel-trust__head h2 {
    font-size: 30px;
  }
  .b-carousel-trust .owl-nav {
    top: -60px;
  }
  .b-carousel-trust--2 {
    margin-bottom: 40px;
  }
  .b-carousel-trust--2 .carousel-trust__head {
    margin-bottom: 30px;
  }
  .b-blog-carousel {
    padding-top: 32px;
    padding-bottom: 40px;
  }
  .b-blog-carousel .blog-carousel__head h2 {
    margin-bottom: 40px;
    font-size: 30px;
  }
  .b-blog-carousel .blog-carousel__content,
  .b-blog-carousel .blog-carousel__btnbox {
    padding-left: 20px;
    padding-right: 20px;
  }
  .b-blog-carousel .owl-nav {
    top: -70px;
  }
  .b-blog-carousel .owl-nav .owl-prev {
    left: 10px;
  }
  .b-blog-carousel .owl-nav .owl-next {
    right: 10px;
  }
  .b-portfolio-carousel [class^="portfolio-carousel__head-text-"] {
    width: 100%;
  }
  .b-portfolio-carousel .portfolio-carousel__head-text-2 {
    line-height: 1;
  }
  .b-portfolio-carousel .portfolio-carousel__carousel {
    margin: 0;
  }
  .b-portfolio-carousel .owl-controls .owl-buttons {
    display: block;
  }
  .b-support-category .support-category__item {
    height: 300px;
  }
  .b-support-category .support-category__item-programming {
    background-color: #414141;
  }
  .b-support-category .support-category__item-design {
    background-color: #51cc57;
  }
  .b-support-category .support-category__item-filling {
    background-color: #2d6ab5;
  }
  .b-support-category .support-category__imgbox {
    display: none;
  }
  .b-support-category .support-category__content {
    position: static;
    padding: 63px 10px 20px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    text-align: center;
  }
  .b-support-category .support-category__icon {
    float: none;
    width: auto;
    height: 75px;
    padding-right: 0;
    padding-bottom: 20px;
  }
  .b-samplesblock .samplesblock__inner {
    height: auto;
  }
  .b-samplesblock .samplesblock__content {
    padding-bottom: 20px;
  }
  .b-samplesblock .samplesblock__more {
    position: static;
    padding-bottom: 20px;
  }
  .b-integration .integration__item {
    width: 25%;
  }
  .b-categ {
    margin-bottom: 0;
  }
  .b-categ .categ__item-inner {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .b-carousel-docs .owl-nav .owl-prev {
    left: 0;
  }
  .b-carousel-docs .owl-nav .owl-next {
    right: 0;
  }
  .b-hr {
    margin: 0 -20px;
    padding: 0 20px;
  }
  .b-attention {
    padding: 20px;
  }
  .b-attention [class*="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .b-attention .attention__col {
    background: none;
  }
  .b-attention .attention__col::before {
    content: none;
  }
  .b-attention .attention__content {
    padding: 0;
  }
  .b-create {
    margin-bottom: 40px;
  }
  .b-create h2 {
    padding-bottom: 40px;
  }
  .b-create .create__img {
    padding: 0 25px 0 0;
  }
  .b-create .create__footnote {
    margin-top: 30px;
    padding-top: 35px;
  }
  .b-moduls {
    text-align: center;
  }
  .b-moduls .moduls__item {
    padding-bottom: 20px;
    max-width: 100%;
  }
  .b-work {
    padding: 50px 2000px;
  }
  .b-work .work__next {
    display: none;
  }
  .b-work .work__item {
    text-align: center;
    position: relative;
    padding: 0 15px 30px 0;
    max-width: 200px;
  }
  .b-work .work__title {
    padding: 0 0 15px 0;
  }
  .b-site {
    margin: 80px 0 55px 0;
  }
  .b-pr {
    margin: 0 0 30px 0;
  }
  .b-textbox {
    margin: 0 0 35px 0;
  }
  .b-textbox > h2 {
    padding-bottom: 40px;
  }
  .b-carousel-trust .owl-carousel .owl-item img {
    width: 100%;
  }
  .b-Moskva .Moskva__contacts {
    margin-right: 0;
  }
  .b-Smolensk .Moskva__contacts a {
    font-size: 22px;
  }
  .b-Smolensk .Moskva__contacts {
    font-size: 15px;
  }
  .b-Smolensk .Moskva__title {
    font-size: 28px;
  }
  .b-contactsmap .contactsmap__left strong {
    font-size: 15px;
  }
  .b-contactsmap .contactsmap__left,
  .b-contactsmap .contactsmap__right {
    font-size: 14px;
    padding: 60px 60px;
  }
  .b-contactsmap .contactsmap__left {
    padding: 30px 60px;
  }
  .b-Smolensk .Smolensk__contacts {
    margin-right: 0;
  }
  .b-Smolensk .Smolensk__contacts a {
    font-size: 22px;
  }
  .b-Smolensk .Smolensk__contacts {
    font-size: 15px;
  }
  .b-Smolensk .Smolensk__title {
    font-size: 28px;
  }
  .b-form_mainpage .form__colleft {
    display: block;
  }
  .b-form_mainpage .form__titletxt {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .b-text-block h2 {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .b-types-of-site {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .b-types-of-site .types-of-site__item {
    width: 100%;
    height: auto;
    min-height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -1px;
    padding: 25px 30px 25px 25px;
  }
  .b-types-of-site .types-of-site__item:hover {
    border-width: 1px;
    box-shadow: none;
  }
  .b-types-of-site .types-of-site__img {
    padding: 0;
    margin-right: 20px;
    width: 60px;
  }
  .b-types-of-site .types-of-site__img img {
    max-width: 100%;
    vertical-align: top;
  }
  .b-types-of-site .types-of-site__title {
    width: calc(100% - 365px);
    min-height: auto;
    margin: 0;
    text-align: left;
    max-width: none;
  }
  .b-types-of-site .types-of-site__price {
    padding: 0;
    width: 200px;
    text-align: right;
  }
  .b-types-of-site .types-of-site__arrow {
    margin-left: 45px;
    width: 40px;
  }
  .b-market th {
    padding: 30px 10px;
  }
  .b-market .market__title {
    font-size: 18px;
  }
  .b-plan .plan__item {
    text-align: center;
  }
  .b-plan .plan__title {
    padding-top: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
  }
  .b-plan .plan__number {
    width: auto;
  }
  .b-plan .plan__txt {
    width: 100%;
    padding: 10px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
  }
  .g-main .b-time .time__img-line {
    margin: 0 0px 60px 0px;
  }
  .b-raiting {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .b-raiting .raiting__item {
    padding-bottom: 40px !important;
    width: 50%;
    border: 1px solid #dcdcdc;
    border-left: none;
    border-top: none;
  }
  .b-raiting .raiting__item:nth-child(2n) {
    border-right: none;
  }
  .b-raiting .raiting__item:nth-child(2n + 1) {
    padding-left: 0;
  }
  .b-plus .plus__item {
    width: 50%;
  }
  .b-capab--detal .capab__item {
    padding: 0 80px 40px;
  }
  .b-capab .capab__line {
    margin: -51px auto 0;
    padding: 15px 15px;
    max-width: 80%;
  }
  .b-capab .capab__num {
    font-size: 30px;
  }
  .b-capab .capab__txt {
    font-size: 12px;
  }
  .b-prize-h2 {
    margin: 20px 0 40px;
  }
  .b-rating-table .rating__item {
    margin-bottom: 70px;
  }
  .b-bannercenter .b-case-btn {
    top: -120px;
  }
  .b-thanks-carousel .thanks-carousel__img {
    margin-right: 30px;
  }
  .b-thanks-carousel .thanks-carousel__logo {
    margin-bottom: 20px;
  }
  .b-places-imgs .places-imgs__text {
    height: 150px;
  }
  .b-places-imgs .places-imgs__item {
    margin-bottom: -150px;
    width: 33%;
  }
  .b-places-imgs .places-imgs__img-wrapper img {
    max-width: 100%;
  }
  .b-places-imgs .places-imgs__title {
    font-size: 90px;
    bottom: -13px;
  }
  .b-places-imgs .places-imgs__wrapper {
    margin: 0 auto 195px auto;
  }
  .b-canape-inwork {
    padding-bottom: 0;
  }
  .b-cases {
    margin-bottom: 50px;
  }
  .b-cases p {
    padding-bottom: 0;
  }
  .b-cases h2 {
    font-size: 30px;
  }
  .b-cases .cases__head {
    justify-content: space-between;
  }
  .b-cases .cases__result {
    margin-bottom: 0;
  }
  .b-cases .cases__result-item {
    width: 50%;
    margin-bottom: 40px;
  }
  .b-cases .cases__result-item:nth-child(2n) {
    border-right-width: 0;
  }
  .b-cases .cases__result-title {
    font-size: 40px;
  }
}
@media handheld, only screen and (min-width: 980px) and (max-width: 1239px) {
  .b-places-imgs .places-imgs__title {
    font-size: 110px;
  }
  .b-yandex-expert .yandex-expert__text-right {
    font-size: 12px;
    max-width: 200px;
    right: 10px;
  }
  .b-yandex-expert .yandex-expert__right:after {
    right: 10px;
  }
  .b-yandex-expert .yandex-expert__sert {
    right: 10px;
  }
  .b-ourteam .ourteam__main {
    max-width: 750px;
  }
  .b-ourteam .ourteam__pic {
    height: 440px;
  }
}
@media handheld, only screen and (min-width: 768px) and (max-width: 1239px) {
  .b-footer-menu {
    display: none;
  }
  .l-grid {
    height: 348px;
  }
  .l-footerbox-stop {
    height: 348px;
  }
  .l-grid .grid__item5 {
    top: 40px;
    left: 20px;
  }
  .l-grid .grid__item3 {
    top: 55px;
  }
  .b-foot-contacts .foot-contacts__text {
    display: none;
  }
  .l-grid .grid__item2 {
    top: 182px;
    right: auto;
    left: 346px;
  }
  .l-footerbox .footerbox__links {
    position: absolute;
    left: 326px;
    top: 0;
    margin: 0;
    width: 100%;
  }
  .l-footerbox .footerbox__parts--big {
    margin-top: 80px;
  }
  .l-grid .grid__item1 {
    left: 0;
    flex-wrap: wrap;
    height: auto;
    padding: 30px 0 50px;
  }
  .b-copyright-dev {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    bottom: 40px;
  }
  .b-copyright {
    padding-left: 20px;
  }
  .b-iso {
    padding-right: 20px;
  }
  .b-cols > [class^="cols__col-"] {
    width: 100%;
  }
  .b-cols .cols__col-tablet-1-12 {
    width: calc((100% / 12) * 1);
  }
  .b-cols .cols__col-tablet-2-12 {
    width: calc((100% / 12) * 2);
  }
  .b-cols .cols__col-tablet-3-12 {
    width: calc((100% / 12) * 3);
  }
  .b-cols .cols__col-tablet-4-12 {
    width: calc((100% / 12) * 4);
  }
  .b-cols .cols__col-tablet-5-12 {
    width: calc((100% / 12) * 5);
  }
  .b-cols .cols__col-tablet-6-12 {
    width: calc((100% / 12) * 6);
  }
  .b-cols .cols__col-tablet-7-12 {
    width: calc((100% / 12) * 7);
  }
  .b-cols .cols__col-tablet-8-12 {
    width: calc((100% / 12) * 8);
  }
  .b-cols .cols__col-tablet-9-12 {
    width: calc((100% / 12) * 9);
  }
  .b-cols .cols__col-tablet-10-12 {
    width: calc((100% / 12) * 10);
  }
  .b-cols .cols__col-tablet-11-12 {
    width: calc((100% / 12) * 11);
  }
  .b-cols .cols__col-tablet-12-12 {
    width: calc((100% / 12) * 12);
  }
}
